<div class="container container-participation">
  <div class="logo">
    <%= image_tag("trustme-logo.png") %>
  </div>
  <div class="participation-form">
    <%= form_tag participations_path(@participation), method: "create" do %>
      <%= text_field_tag :token, nil, placeholder: "Entrer le code" %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <div class="button letters" >
        <%= submit_tag "Rejoindre", class: "btn" %>
      </div>
    <% end %>
  </div>

</div>


<!-- ---------------- font anim -->

<div class="area" >
            <ul class="shapes">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
</div >
