<div class="container">
  <div class="user-section">
    <div class="avatar-section">
      <%= cl_image_tag current_user.photo.key, height: 200, width: 200, crop: :fill %>
       <%= link_to "Edit profil", edit_user_registration_path, class: "profil-btn" %>
    </div>
    <div class="profil-section">
      <h2> Welcome <%= current_user.nickname %></h2>
      <h3>Profil</h3>
      <div class="profil-info">
        <p>Nickname: </p>
        <%= current_user.nickname %>
      </div>
      <div class="profil-info">
        <p>Email: </p>
        <%= current_user.email %>
      </div>
    </div>
  </div>
</div>
