<div class="game-new-banner">
  <div class="container">
    <h2>Creer ta partie</h2>
    <p>Selectionne les critères que tu veux pour ta partie,  ou lance en aléatoire!</p>
  </div>
</div>


<div class="container">
    <%= simple_form_for @game do |f| %>

    <%= f.association :providers, as: :check_boxes %>
    <%= f.input :genre, label: "genre" %>
    <%= f.input :year, label: "year" %>
    <%= f.input :original_language, label: "original language" %>
    <%= f.input :runtime, label: "runtime" %>
    <%= f.input :vote_average, label: "vote average" %>

    <div class="button letters">
      <%= f.button :submit, class: "btn" %>
    </div>
  <% end %>
</div>

