<div class="container">
  <h2> New game </h2>

  <h3>Les critères :</h3>

  <%= simple_form_for @game do |f| %>
    <%= f.input :watch_type, label: "watch_type" %>
    <%= f.input :year, label: "year" %>
    <%= f.input :genre, label: "genre" %>
    <%= f.input :director, label: "director" %>
    <%= f.input :country, label: "country" %>
    <%= f.input :language, label: "language" %>
    <%= f.input :language_subtitle, label: "language subtitle" %>
    <%= f.input :vote_average, label: "vote average" %>

    <%= f.button :submit %>

  <% end %>
</div>

