<div class="game-new-banner">
  <div class="container">
    <h2>Create your game</h2>
    <p>Select the categories you want for this game! </p>
  </div>
</div>


<div class="container game-container">

    <%= simple_form_for @game do |f| %>
      <h4>Choose your streaming platform: </h4>
      <div class="tag-providers">

      <%= f.association :providers, as: :check_boxes, include_hidden: false, legend_tag: false,
                        input_html: { class: "provider-tag-selector" },
                        item_wrapper_class: 'provider-tag-item',
                        collection: Provider.all,
                        label_method: lambda { |provider| "#{image_tag(provider.logo)}".html_safe },
                        value_method: :id %>
      </div>
      <h4>Choose the game's category: </h4>
      <div class="tag-criteres">
      <%= f.input :genre, label: "genre",
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
      <%= f.input :year, label: "year",
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
      <%= f.input :original_language, label: "original language",
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
      <%= f.input :runtime, label: "runtime",
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
      <%= f.input :vote_average, label: "vote average",
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
      </div>
      <div class="button letters">
        <%= f.button :submit, class: "btn" %>
      </div>
  <% end %>
</div>

