<div class="game-new-banner">
  <div class="container">
    <h2>Creer votre partie</h2>
    <p>Selectionne les critères que tu veux pour ta partie! </p>
  </div>
</div>


<div class="container game-container">

    <%= simple_form_for @game do |f| %>
      <h4>Quelles sont tes plateformes de streaming? </h4>
      <div class="tag-providers">

      <%= f.association :providers, as: :check_boxes, include_hidden: false, legend_tag: false,
                        input_html: { class: "provider-tag-selector" },
                        item_wrapper_class: 'provider-tag-item',
                        collection: Provider.all,
                        label_method: lambda { |provider| "#{image_tag(provider.logo)}".html_safe },
                        value_method: :id %>
      </div>
      <h4>Choisis les critères: </h4>
      <div class="tag-criteres">
      <%= f.input :genre, label: "Genre",
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
      <%= f.input :year, label: "Année",
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
      <%= f.input :original_language, label: "Langue d'origine",
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
      <%= f.input :runtime, label: "Durée",
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
      <%= f.input :vote_average, label: "Note moyenne",
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
      </div>
      <div class="button letters">
        <%= f.button :submit, "Creer la partie", class: "btn" %>
      </div>
  <% end %>
</div>

