<div class="info-partie">
  <div class="info-partie-container">
    <p>Rejoins la partie sur ton écran <br> ou avec l’application Trust me</p>
    <div class="info-partie-token">
      <h3>code partie :</h3>
      <p><%= @game.token %></p>
    </div>
  </div>
</div>

<div class="container">
    <% if @game.movie %>
      <div class="game-card">
        <h3><%= @movie.title %></h3>
        <p> <%= @movie.vote_average %></p>
        <p> <%= @movie.overview %></p>
      </div>
    <% else %>
  <div class="participants-list" data-controller="participants">
    <ul class="participants">
      <% @participations.each do |participation| %>
      <li><span> <%= participation.user.nickname %></span> à rejoint la partie !</li>
      <% end %>
        <li id="load">
          <p>En attente d'autres participants</p>
          <div class="bar"></div>
        </li>
    </ul>
  </div>
  <button class="btn btn-danger" id="refresh">Refresh Participants</button>
  <% if @participation %>
    <div class="button letters">
          <%= link_to "Launch", edit_game_participation_path(@game, @participation), class: "btn" %>
    </div>
  <% end %>
    <%= link_to "Reveal", find_movie_game_path(@game), method: :post %>
    <% end %>
</div>



